.container {
    height: 300px;
    width: 1000px;
    margin: auto;
    text-align: center;
    position: relative;
}

#gallery {
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#thumbnails {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
}

#thumbnails>img {
    display: block;
    height: 20%;
    filter: brightness(40%);
    cursor: pointer;
}

#thumbnails>img:hover {
    filter: brightness(100%);
}

.fa-solid {
    position: absolute;
    right: 65px;
    z-index: 1;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.fa-arrow-up {
    top: 10px;
}

.fa-arrow-down {
    bottom: 10px;
}

.d-block {
    display: block;
}